layout {
    pane split_direction="vertical" {
        pane command="just" {
            args "watch-wasm"
        }
        pane split_direction="horizontal" {
            pane command="just" {
                args "watch-web"
            }
            pane command="just" {
                args "serve-inspectify"
            }
        }
    }
}
