layout {
    pane split_direction="vertical" {
        pane command="just" {
            args "watch-web"
        }
        pane command="just" {
            args "watch-inspectify"
        }
    }
}
