[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
binswap-github = "0.1.1"
clap = { version = "4.1.4", features = ["derive"] }
color-eyre = "0.6.2"
tokio = { version = "1.25.0", features = ["full"] }
