---
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: { title: string };
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="prose prose-invert mx-auto py-10">
    <slot />
  </div>
</Layout>
